.config {
  margin-bottom: 4rem;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.general-config input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

details {
  margin: 2rem 0;
}

details summary {
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  color: #ffe066;
}

.block {
  display: block;
}

label {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mailchimp-config__hidden-form {
  /* display: none;*/
}

.mailchimp-config__code, .output-config__code {
  width: 100%;
  min-height: 16em;
}