/*

  This is not CSS for the demo, but for the intro page in the root directory

*/

body {
  line-height: 1.45;
  padding-bottom: 1rem;
}

img, video {
  width: 100%;
  max-width: 100%;
}

.intro {
  margin-top: 6rem; 
  padding: 2.5rem 3rem;
  font-size: 26px;
  font-weight: bold;
  color: #4263EB;
  background-color: #FFF4E7;
}

.intro > div {
  margin-bottom: 2rem;
}

.intro > div:first-child {
  color: #e67700;
  font-style: italic;
}

.links {
  margin-bottom: 2rem;
  padding: 2.5rem 3rem;
  font-size: 24px;
  font-weight: bold;
}

.links > div {
  margin-bottom: 1rem;
}

.links a {
  display: inline-block;
  color: #fff3bf;
}

.demo-section {
  margin-bottom: 5rem;
}

.demo-section__heading {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 1rem;
}


.email-sign-up-container {
  max-width: 480px;
  margin: 0 auto 10rem;
}

.email-sign-up-label {
  margin-bottom: .5rem;
  font-weight: 500;
  font-size: 19px;
}

form#email-sign-up {
  display: flex;
}

form#email-sign-up.email-submitted {
  border: 1px solid #fff;
  padding: 1.5rem 2.25rem ;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

form#email-sign-up input {
  flex: 1 1 auto;
  background-color: #fff;
  color: #222;
}

form#email-sign-up button {
  background-color: #2245c7;
}

form#email-sign-up button:hover {
  background-color: #3156e0;
}

footer {
  display: flex;
}

footer .nav {
  margin-left: auto;
}

footer a {
  display: inline-block;
  margin-left: 1rem;
  color: #fff;
  text-decoration: underline;
}


@media (max-width: 800px) {
  .intro {
    margin-top: 0;
  }
}




